<h1><%= @snack.name %>'s Page</h1>
<%= @snack.price %>
<% @snack.machines.each do |machine| %>
<ul>
  <li><%= machine.location %> (<%= machine.snacks.count %> kinds of snacks, average price of $<%= machine.snacks.average_price %></li>
</ul>
<% end %>
* Don's Mixed Drinks (3 kinds of snacks, average price of $2.50)
* Turing Basement (2 kinds of snacks, average price of $3.00)
